/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.Side-bar::-webkit-scrollbar {
  width: 3px;
}

.Side-bar::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 3px;
}
